.combat-container{
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 90vh;
    padding-top:5%;



    .combat-monster-stats-wrapper{
        background-color: var(--boxBackground);
        width:65vw;
        height:75vh;
        overflow-y: auto;
        border: var(--baseBorder);
        border-radius: var(--baseBorder-radius);
    }

}

