.combat-item-wrapper{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 3px;
    border-radius: var(--baseBorder-radius);
    height: 5vh;

}

.combat-item-unfocus{
    background-color: var(--itemBackground);
    border: var(--itemBorder);

}

.combat-item-focus{
    background-color: green;
    border: 1px solid yellowgreen;
    border-radius: var(--baseBorder-radius);
}

.combat-item-container{
    display:flex;
    justify-content: space-around;


    .combat-initiative-item-name{
        align-items: center;
        width: 50vw;
    }

    .remove-from-combat-button{
        align-items: center;
        width: 20vw;
    }

}

