.combat-tracker-wrapper{

}


.combat-tracker-header-container{
    position:sticky;
    top:0;
    background-color: var(--boxTitleBackground);
        border: var(--baseBorder);
        border-radius: var(--baseBorder-radius);
        color:var(--fontColor);

}