.initiative-list-wrapper {
    flex: 1;
    display:flex;
    flex-direction: column;
    overflow-y:auto;
    background-color: var(--boxBackground);
    border:var(--baseBorder);
    border-radius:var(--baseBorder-radius);

    .initiative-list-header{
        background-color: var(--boxTitleBackground);
        border: var(--baseBorder);
        border-radius: var(--baseBorder-radius);
        color:var(--fontColor);
        text-align: center;

        .initiative-list-title{
            font-size:26px;
        }

    }

    .initiative-list-body {
        flex: 1;
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow-y: auto;
    }
    .clear-list-button {
        margin-top:auto;
    }
}