.initiative-list-container{
    background-color: var(--boxBackground);
    border:var(--baseBorder);
    border-radius:var(--baseBorder-radius);

    .initiative-list-header{
        background-color: var(--boxTitleBackground);
        border: var(--baseBorder);
        border-radius: var(--baseBorder-radius);
        color:var(--fontColor);
        text-align: center;

        .initiative-list-title{
            font-size:150%;
        }

    }
}