.initiative-setup-wrapper {
    height: 100vh;
    padding: 50px;
}

.content-wrapper {
    height: 90%;

    .sidebar-container {
        display:flex;
        flex-direction: column;
    }

    .main-container {
        height: 100%;
    }
}

.footer-wrapper {
    margin-top: 40px;
}