
.content-wrapper{
    display:flex;
    flex-direction: row;

    justify-content: space-around;

    .sidebar-container {
        width: 25%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .main-container {
        width: 65%;
    }
}

.footer-wrapper {
    button {
        float: right;
        margin-right:100px;
    }
}