.monster-search-box-container{
    background-color: yellow;
    color: red;
    width: 50%;
    margin: 0 auto;
    height:50vh;
    overflow: scroll;


    .monster-search-header-container{
        background-color: blue;
        position:sticky;
        display: flex;
        top: 0;

        .search-header-title{
            width:40%;
            margin-left: 1%;
        }

        .monster-search-field{
            width: 30%;
            
        }
    }
    

}

