.monster-search-box-container{

    background-color: var(--boxBackground);
    color: var(--fontColor);
    height:100%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    border:var(--baseBorder);
    border-radius: var(--baseBorder-radius);



    .monster-search-header-container{
        background-color: var(--boxTitleBackground);
        border: var(--baseBorder);
        border-radius: var(--baseBorder-radius);
        position:sticky;
        display: flex;
        top: 0;
        align-items:center;
        padding:5px;

        .search-header-title{
            width:65%;
            font-size: 150%;
            margin-left: 1%;
        }

        .monster-search-field{

            width: 30%;

        }
    }


}

