.player-input-wrapper {
    font-family: "Cabin";
    background: var(--boxBackground);
    border: var(--baseBorder);
    border-radius: var(--baseBorder-radius);
<<<<<<< HEAD
    //height:15%;
=======
    margin-bottom: 30px;
>>>>>>> 802edb3fa9611cf6cde210f092450062e74418b4
}

.player-input-header{
    background-color: var(--boxTitleBackground);
    border: var(--baseBorder);
    border-radius: var(--baseBorder-radius);
    color:var(--fontColor);
    text-align: center;
    font-size: 150%;
}

.player-input-body {
    font-family: "Cabin";
    font-size: 18px;
<<<<<<< HEAD
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
    height:fit-content;
    box-sizing: border-box;
=======
>>>>>>> 802edb3fa9611cf6cde210f092450062e74418b4

    button {
        height: 30px;
        width: 30px;
        margin: auto;
        background-image: url("../../assets/svg/Plus_symbol.svg");
        background-size: cover;
        background-position: center;
    }
}


.player-input-field {
    text-align: left;
    padding: 10px 20px;

    .player-name-input {
        font-family: "Cabin";
        font-size: 14px;
        outline: none;
    }
}

.player-input-initiative-field {
    padding: 10px 20px;

    .player-initiative-input {
        font-family: "Cabin";
        font-size: 14px;
    }
}