.player-input-container {
    margin: 5%;
    font-family: "Cabin";
    box-sizing: border-box;
    width: 100%;
}

.player-input-fields-container {
    background: #F7B9F9;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    font-family: "Cabin";
    font-size: 18px;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;

    button {
        height: 40px;
        width: 40px;
        margin: auto 0;
        box-sizing: border-box;
    }
}


.input-field-container {
    text-align: left;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    .player-name-input {
        font-family: "Cabin";
        font-size: 14px;
        padding: 10px;
        width: 80%;
        outline: none;
    }

    .player-initiative-input {
        font-family: "Cabin";
        font-size: 14px;
        height: 40px;
        width: 40px;
        box-sizing: border-box;
        text-align: center;
        align-self: center;

        &:focus {
            outline: none;
        }

        // &::-webkit-outer-spin-button,
        // &::-webkit-inner-spin-button {
        //   -webkit-appearance: none;
        //   margin: 0;
        // }

        &[type=number] {
            -moz-appearance: textfield;
        }
    }
}