.player-input-container {
    width: 400px;
    font-family: "Cabin";
}

.player-input-fields-container {
    background: #F7B9F9;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    font-family: "Cabin";
    font-size: 18px;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;

    button {
        margin: auto;
        height: 40px;
        width: 40px;
        margin-left: 20px;
    }
}


.input-field-container {
    text-align: left;

    .player-name-input {
        font-family: "Cabin";
        font-size: 14px;
        padding: 10px;
        width: 80%;
    }

    .player-initiative-input {
        direction: rtl;
        font-family: "Cabin";
        font-size: 14px;
        height: 40px;
        width: 40px;
        box-sizing: border-box;

        &:focus {
            outline: none;
        }

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        &[type=number] {
            -moz-appearance: textfield;
        }
    }
}

.player-initiative-input-container {
    text-align: center;
}