.list-item-name, .list-item-description{
    color:var(--fontColor);
    font-size:17px;
    font-weight:600;
}

.initiative-list-item-wrapper {
    background-color: var(--itemBackground);
    border:var(--itemBorder);
    border-radius:var(--baseBorder-radius);
}

.field-value-change{
    font-size: 20px;
}

.item-delete-button {
    height: 40px;
    width: 40px;
    background-image: url("../../assets/svg/trash_icon.svg");
    background-position: center;
    background-repeat: no-repeat;
}