.monster-search-item-container{
    background-color: purple;
    color: white;
    font-size: 125%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:1px;
    padding-left: 3px;
    padding-right:3px;
    align-items:center;
  
    

    .monster-name, .monster-cr, .monster-size, .monster-type{
        //background-color: greenyellow;
        color:cyan;
        width:20%;

    }


    .monster-add-to-list{
        font-size:200%;
    }

}







/*



<div className="monster-search-item-container">
<span className="monster-name-container">{monster.name}</span>
<span className="monster-cr">{monster.cr}</span>
<span className="monster-size">{monster.size}</span>
<span className="monster-type">{monster.type}</span>
<Link className='monster-add-to-list' 

*/