.monster-search-item-container{
    background-color: purple;
    color: white;
    font-size: 125%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:2px;
    align-text
    

    .monster-name{
        background-color: greenyellow;
        color:red;
        width:30%;
    }

    .monster-cr{
        color:pink;
        

    }

    .monster-size{
        color:pink;
    }
    .monster-type{
        color:pink;
    }
    .monster-add-to-list{
        font-size:200%;
    }

}







/*



<div className="monster-search-item-container">
<span className="monster-name-container">{monster.name}</span>
<span className="monster-cr">{monster.cr}</span>
<span className="monster-size">{monster.size}</span>
<span className="monster-type">{monster.type}</span>
<Link className='monster-add-to-list' 

*/