:root{
    --baseBackground: #141420;
    --boxBackground: #7f4c81;
    --boxTitleBackground: #571a58;
    --itemBackground: #39244d;
    --fontColor:rgb(159, 200, 246);


    --baseBorder: 1px solid rgb(230, 177, 255);
    --itemBorder: 1px solid rgb(84, 131, 212);
    --baseBorder-radius: 5px;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Cabin', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--baseBackground);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
